# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# vim
*.swp

# Mac file caches
.DS_Store

# PyCharm project settings
.idea/

.cache
build.log
mdtraj/rmsd/_rmsd.cpp
# export of libtheolib
/mdtraj/core/lib/*

result/
result

# Test reference files etc.
tests/._casettes
tests/casettes
tests/data
