repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-yaml
  - id: trailing-whitespace
    exclude: '\.(pdb|gro|top|sdf|dssp)$'
  - id: debug-statements
- repo: https://github.com/asottile/add-trailing-comma
  rev: v4.0.0
  hooks:
  - id: add-trailing-comma
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.7
  hooks:
    - id: ruff
      args: [--fix]
    - id: ruff-format
ci:
  autoupdate_schedule: 'monthly'
