language: c
sudo: false

addons:
  apt:
    packages:
      # SPARTA+ requires csh
      - csh

install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install md5sha1sum; fi
  - source devtools/travis-ci/install_miniconda.sh
  - source devtools/travis-ci/install_sparta.sh
  - source devtools/travis-ci/install_ppm.sh
  - conda config --add channels omnia

script:
  conda build --quiet devtools/conda-recipe
  && devtools/travis-ci/build_docs.sh

os:
  - osx
  - linux

env:
  - CONDA_PY=2.7  CONDA_NPY=1.7
  - CONDA_PY=2.7  CONDA_NPY=1.11
  - CONDA_PY=3.4  CONDA_NPY=1.10
  - CONDA_PY=3.5  CONDA_NPY=1.11  DOCDEPLOY=YES

deploy:
  - provider: s3
    access_key_id:
      secure: "ZJrGD3DMlnokMNL2IAro43fdILptst27+UNH1tcma5NFSXGYRpUYAk+uFdjtj5WR2bi0g81UFmsGd421SfDzJe9WY+zcNlBTNlushi0+8KOTXBVr38n8z03mUMz2wnGTYmOg5z0kBHQ+xBVuX9Hz9FM9CVbWZczCWpTTiem35W4="
    secret_access_key:
      secure: "lEpUy2/GD2PnpBcv1KV2qt5mzRPbe4hPJwqlCuYDYvLFLMTrl+v5d+R8IyZ1KMX5eRBTPdP2i2sVbyRH/rwCaeRl6btYcsLWmpydfovPP7KyL3dlSWxtquOZCi0wfjlK7H5RwZHUb0870XhdPrAPT04plbiqVHzlSqBhfVTbHB0="
    bucket: "mdtraj.org"
    region: us-west-1
    skip_cleanup: true
    local_dir: docs/_deploy/
    on:
      os: linux
      branch: 1.7
      condition: "-n $DOCDEPLOY"
