# We pretend to be C because we can't use the python support in
# travis-ci; it uses virtualenvs, they do not have numpy, scipy, matplotlib,
# and it is impractical to build them

language: c
install:
  - sudo apt-get update
  - sudo apt-get install -qq libhdf5-serial-dev
  - sudo apt-get install -qq python-dev
  - sudo apt-get install -qq python-numpy
  - sudo apt-get install -qq python-nose
  - sudo apt-get install -qq python-setuptools
  - sudo apt-get install -qq cython
  - sudo apt-get install -qq python-numexpr
  - sudo apt-get install -qq python-tables
  - sudo apt-get install -qq netcdf-bin libnetcdf-dev
  - sudo apt-get install -qq python-netcdf

script:
  - sudo python setup.py -q install
  - nosetests
