[build-system]
requires = [
    "setuptools",
    "wheel",
    "numpy==1.11.3; python_version=='3.6'",
    "numpy==1.14.6; python_version=='3.7'",
    "numpy==1.17.5; python_version=='3.8'",
    "numpy==1.19.5; python_version=='3.9'",
    "numpy; python_version>='3.10'",
    "Cython>0.28",
]
