numpy==1.7.1
scipy==0.12.0
cython==0.19.1
numexpr==2.1
tables==3.0.0
netCDF4==1.0.4
pandas==0.12.0
pyflakes==0.7.3
scripttest==1.3
git+git://github.com/rmcgibbo/simtk.unit
nose==1.3.0
nose-exclude==0.1.10
coverage
coveralls
