pip
setuptools
sphinx
sphinx_rtd_theme
nbsphinx
nbsphinx_link
msmb_theme
jupyter
ipython
mda-xdrlib
matplotlib
pandoc
jinja2
runipy
openmm
tables
scikit-learn
pytest
setuptools
pandas
numpydoc
wheel
tables
# python==3.11
