name: CI
on:
  push:
    branches:
      - master
      - main
  pull_request:
    branches:
      - master
      - main
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

defaults:
  run:
    shell: bash -l {0}

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false

      matrix:
        os:
          - macOS-latest
          - ubuntu-latest
        python-version:
          - "3.9"
          - "3.10"
          - "3.11"

    steps:
    - uses: actions/checkout@v3

    - name: Set up conda environment
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: devtools/conda-envs/test.yaml
        create-args: >-
          python=${{ matrix.python-version }}

    - name: Install package
      run: |
        python -m pip install .

    - name: Environment Information
      run: |
        conda info
        conda list

    - name: Run tests
      if: always()
      run: |
        pytest --durations=10 tests/
