name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        include:
         #- py: "python37"
         #  nixpkgs: "channel:nixos-20.09"
         - py: "python38"
           nixpkgs: "channel:nixos-21.05"
         - py: "python39"
           nixpkgs: "channel:nixos-21.05"
         - py: "python310"
           nixpkgs: "channel:nixos-unstable"


    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v14.1
      with:
        nix_path: nixpkgs=${{ matrix.nixpkgs }}
    - uses: cachix/cachix-action@v10
      with:
        name: nixpkgs-review-bot
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build
      run: nix-build -E "with import <nixpkgs> {}; $PYTHON.pkgs.callPackage ./. {}"
      env:
        PYTHON: ${{ matrix.py }}
    - uses: actions/upload-artifact@v2
      with:
        name: docs-${{ matrix.py }}
        path: result/share/docs

  Deploy:
    needs: [ Build ]
    runs-on: ubuntu-20.04
    if: github.ref == 'refs/heads/master'
    steps:
    - uses: cachix/install-nix-action@v14.1
      with:
        nix_path: channel:nixos-20.09
    - uses: actions/download-artifact@v2
      with:
        name: docs-python38
    - run: |
        nix-env -f '<nixpkgs>' -iA awscli2

        aws s3 sync --quiet html s3://mdtraj/development
        aws s3 cp --quiet root/index.html s3://mdtraj
        aws s3 cp --quiet root/versions.json s3://mdtraj
      env:
        AWS_DEFAULT_REGION: us-east-1
        AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
        AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
