name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  Build:
    strategy:
      fail-fast: false
      matrix:
        include:
         - py: "python38"
         - py: "python39"
         - py: "python310"

    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2.3.4
    - uses: cachix/install-nix-action@v16
    - uses: cachix/cachix-action@v10
      with:
        name: mdtraj
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Build
      run: nix build .#$PYTHON.pkgs.mdtraj --print-build-logs
      env:
        PYTHON: ${{ matrix.py }}
    - name: Dev docs
      if: ${{ github.ref == 'refs/heads/master' && matrix.py == 'python39' }}
      run: |
        VERSION=$(nix eval --raw .#python3Packages.mdtraj.version)
        nix shell nixpkgs#awscli2 aws s3 sync --quiet result/share/docs/html s3://mdtraj/$VERSION
        nix shell nixpkgs#awscli2 aws s3 cp --quiet result/share/docs/root/index.html s3://mdtraj
        nix shell nixpkgs#awscli2 aws s3 cp --quiet result/share/docs/root/versions.json s3://mdtraj
      env:
        AWS_DEFAULT_REGION: us-east-1
        AWS_ACCESS_KEY_ID: '${{ secrets.AWS_ACCESS_KEY_ID }}'
        AWS_SECRET_ACCESS_KEY: '${{ secrets.AWS_SECRET_ACCESS_KEY }}'
